@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@keyframes rotate{
    0% {transform: rotate(345deg);}
    50% {transform: rotate(375deg);}
    100% {transform: rotate(345deg);}
}
@keyframes rotate1{
    0% {transform: rotate(375deg);}
    50% {transform: rotate(345deg);}
    100% {transform: rotate(375deg);}
}

:root {
    --cor--letras: white;
    --cor-polaroid: linear-gradient(180deg, #f2bfff 0, #d5aeff 25%, #b99df2 50%, #9e8cd6 75%, #867bbc 100%);

    --fonte: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background: url(../assets/luz.avif) no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    color: var(--cor--letras);
    font-family: var(--fonte);
}

.cabecalho {
    text-align: center;
    padding: 1em 5%;
    border-bottom: 1px solid white;
    box-shadow: 0 0 30px white;
}

.cabecalho__texto {
    font-size: 1rem;
    font-weight: 700;
}

.principal__top {
    text-align: center;
}

.principal__top__titulo {
    width: 80%;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5em 10%;
}

.principal__top__imagem {
    width: 30%;
    border: 12px solid;
    border-bottom: 45px solid;
    border-image-slice: 1;
    border-image-source: var(--cor-polaroid);
    animation: rotate 3s infinite;
    box-shadow: 0 0 30px white;
}


.principal__mid {
    text-align: center;
    padding: 4em 2em;
}

.principal__mid__titulo {
    padding-bottom: 2em;
    font-size: 1.125rem;
    font-weight: 600;
}

.carrossel {
    text-align: center;
    padding-bottom: 8%;
}

.carrossel__titulo {
    padding-bottom: 2em;
    font-size: 1.125rem;
    font-weight: 600;
}

.swiper-slide img {
    width: 125%;
    border: 10px solid;
    border-bottom: 32px solid;
    border-image-slice: 1;
    border-image-source: var(--cor-polaroid);
    margin: 2em;
    box-shadow: 0 0 15px white;
}

.imagem__par {
    animation: rotate 3s infinite;
}

.imagem__impar {
    animation: rotate1 3s infinite;
}

.rodape {
    text-align: center;
    padding: 1em 5%;
    border-top: 1px solid white;
    box-shadow: 0 0 30px white;
}

.rodape__texto {
    font-size: 1rem;
    font-weight: 500;
}

@media (min-width: 1024px) {
    .cabecalho {
        padding: 1.5em;
    }

    .cabecalho__texto {
        font-size: 1.5rem;
    }

    .principal__top {
        padding: 5% 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4em;
    }

    .principal__top__titulo {
        font-size: 2rem;
    }

    .principal__top__imagem {
        width: 20%;
        border: 20px solid;
        border-bottom: 90px solid;
        border-image-slice: 1;
        border-image-source: var(--cor-polaroid);
        box-shadow: 0 0 30px white;
    }

    .principal__mid {
        padding: 2em 5em;
    }

    .principal__mid__titulo {
        padding-bottom: 2.5em;
        font-size: 1.5rem;
    }

    .carrossel {
        padding: 3% 0;
    }

    .carrossel__titulo {
        padding-bottom: 1em;
        font-size: 1.5rem;
    }

    .swiper-slide img {
        width: 50%;
        border: 25px solid;
        border-bottom: 120px solid;
        border-image-slice: 1;
        border-image-source: var(--cor-polaroid);
        box-shadow: 0 0 30px white;
        margin: 4em;
    }

    .rodape {
        padding: 1.5em;
    }
    
    .rodape__texto {
        font-size: 1.5rem;
        font-weight: 500;
    }
}
